h1 {
    text-align: center;
    color: darksalmon;
}
    

#styledImage {
    border: 10px double darksalmon;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    border: 2px solid darksalmon;
}

h2 , h3 {
    color: darksalmon;
}